
.item-list-grid-container {
  display: grid;
  /* Картка 200px + 8px margin зліва + 8px margin справа = 216px. 
     Ставимо minmax трохи більше, наприклад, 220px або 230px */
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  gap: 15px; /* Можна трохи зменшити відстань між комірками */
  padding: 15px 0px; 
  width: 100%;
  box-sizing: border-box; /* Щоб padding не збільшував загальну ширину */
}

.item-list-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 4fr)); /* <--- ЗМЕНШИЛИ МІНІМАЛЬНУ ШИРИНУ КОЛОНКИ (було 290px) */
                                                              /* (240px картка + 10px margin зліва + 10px margin справа = 260px) */
  gap: 20px; 
  padding: 20px 0px;
  width: 100%;
  box-sizing: border-box;
}

.item-list-message-container { /* Стиль для повідомлення "Нічого не знайдено" */
  width: 100%;
  text-align: center;
  padding: 40px 20px;
  font-size: 1.2em;
  color: #777;
  min-height: 200px; 
  display: flex;
  align-items: center;
  justify-content: center;
}